<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>KoshiroKun - DASTAG</title>
</head>

<body>
    <div class="container">
        <h1>KoshiroKun - DASTAG</h1>
        <div class="cards-container">
            {%CARDS%}
        </div>
    </div>
    <footer class="footer">
        <p>
            <a target="_blank" href="https://github.com/KoshiroKun"><img src="/github.png" alt="Github" height="50" width="50"></a>
            <a target="_blank" href="https://www.linkedin.com/in/dastag/"><img src="/linkedin.png" alt="Linkedin" height="50" width="50"></a>
            © by KoshiroKun (dastag).
        </p>
    </footer>
</body>

</html>