<figure class="card">
        <div class="card__hero">
            <img src="/{%IMAGE%}" alt="{%PROJECTNAME%}" class="card__img">
        </div>
        <h2 class="card__name">{%PROJECTNAME%}</h2>
        <div class="content"> 
        <p class="card__detail">{%SHORTDESCRIPTION%}</p>
    </div>
    <footer class="card__footer">
        <p class="card__price"><a target="_blank" href="{%GITHUB%}"><img src="/github.png" alt="Github" height="50" width="50"></a></p>
        <a href="/project?id={%ID%}" class="card__link">Check it out <span class="emoji-right">👉</span></a>
    </footer>
</figure>