<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>{%PROJECTNAME%} // KoshiroKun - DASTAG</title>

    <style>
    </style>
</head>

<body>
    <div class="container">
        <h1>KoshiroKun - DASTAG</h1>
        <figure class="project">
            <a href="/projects" class="project__back"><span class="emoji-left">👈</span>Back</a>
            <div class="project__hero">
                <img src="/{%IMAGE%}" alt="{%PROJECTNAME%}" class="project__img">
            </div>
            <h2 class="project__name">{%PROJECTNAME%}</h2>
            <div class="content">
                <p class="project__description">{%DESCRIPTION%}</p>
            </div>
            <footer class="card__footer">
                <p class="card__price"><a target="_blank" href="{%GITHUB%}"><img src="/github.png" alt="Github" height="50" width="50"></a></p>
                <a target="_blank" href="{%URL%}" class="card__link">Launch</a>
            </footer>
        </figure>
    </div>
</body>

</html>