*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    padding: 6rem 4rem 10rem;
    line-height: 1.7;
    font-family: "Nunito Sans", sans-serif;
    color: #555;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #4FB0C6, #4F86C6);
}

h1 {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    transform: skewY(-5deg);
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    word-spacing: 3px;
}

h1::before {
    content: '';
    display: block;
    height: 65%;
    width: 90vw;
    position: absolute;
    top: 105%;
    left: 50%;
    background: linear-gradient(to bottom, #6C49B8, #4F86C6);
    opacity: .8;
    z-index: -1;
    transform: skewY(370deg) translate(-50%, -50%);
}

.container {
    /*width: 110rem;*/
    margin: 0 auto;
}

.emoji-left {
    font-size: 2rem;
    margin-right: 1rem;
}

.emoji-right {
    font-size: 2rem;
    margin-left: 1rem;
}

.footer {
    padding: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    margin-right: 10px;
}

/* CARDS CSS */
.content {
    flex: 1 0 auto;
    height: 25%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 8rem;
}

.card {
    background: white;
    box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    min-width: 320px;
    max-width: 400px;
}

.card__hero {
    position: relative;
}

.card__hero::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #4FB0C6, #4F86C6);
    opacity: .3;
}

.card__img {
    display: block;
    height: 25vh;
    width: 100%;
}

.card__name {
    background: linear-gradient(to right, #6C49B8, #4F86C6);
    padding: 1.3rem .8rem;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    word-spacing: 1px;
}

.card__detail {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
}

.card__footer {
    display: flex;
    margin-top: 1.5rem;
}

.card__price {
    flex: 0 0 50%;
    background-color: #eee;
    border-top: 1px solid #e1e1e1;
    padding: 1.25rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.card__link:link,
.card__link:visited {
    flex: 1 0 50%;
    background-color: #6C49B8;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.25rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    margin-top: initial;
}

.card__link:hover,
.card__link:active {
    background-color: #4F86C6;
}


/* PROJECTS CSS */
.project {
    /*width: 70rem;*/
    margin: 0 auto;
    background: white;
    box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.25);
    position: relative;
}

.project__hero {
    position: relative;
}

.project__hero::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #379392, #4FB0C6);
    opacity: .4;
}

.project__img {
    width: 100%;
    display: block;
}

.project__price {
    position: absolute;
    top: -3rem;
    right: -3rem;
    z-index: 100;
    background: linear-gradient(to right bottom, #379392, #4FB0C6);
    height: 14rem;
    width: 14rem;
    border: 6px solid white;
    border-radius: 50%;
    transform: rotate(15deg);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 3rem;
    font-family: "Bungee Inline", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__back:link,
.project__back:visited {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
    border: 2px solid white;
    border-radius: 100rem;
    padding: 0 2rem;
    transition: all .3s;
    display: flex;
    align-items: center;
}

.project__back:hover,
.project__back:active {
    background-color: white;
    color: #555;
}

.project__name {
    background: linear-gradient(to right, #6C49B8, #4FB0C6);
    padding: 1.75rem 1rem;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 3.25rem;
    color: white;
    text-align: center;
    word-spacing: 2px;
}

.project__details {
    background-color: #eee;
    padding: 4rem 6rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.75rem;
}

.project__description {
    padding: 5rem 6rem;
    font-size: 1.6rem;
    line-height: 1.8;
}

.project__link:link,
.project__link:visited {
    display: block;
    background-color: #4F86C6;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.project__link:hover,
.project__link:active {
    background-color: #379392;
}

.project__source {
    padding: 0 6rem 3rem;
    color: #999;
    font-size: 1.2rem;
}

.project__source a:link,
.project__source a:visited {
    color: #999;
}

.project__source a:hover,
.project__source a:active {
    color: #555;
}